.socials-wrapper {
  display: flex;
  align-items: center;
  gap: 1.38rem;
}
.socials-wrapper a {
  height: 1.2rem;
}
.section-1 {
  background: url('../../assets/background/background-first-section.jpg');
  background-size: cover;
  min-height: 100svh;
  flex-shrink: 0;
}
.section-1-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
}
.section-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  text-align: center;
  padding: 5.5rem 10rem;
}
.section-2-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.section-2-title-container p {
  line-height: 1.30rem;
  width: 28.625rem;
}
.section-2-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 4.81rem;
}
.section-2-cards-container button {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
}
.cards-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13.0625rem;
  height: 18.125rem;
}
.Lata1 {
  width: 20.375rem;
  height: 35.875rem;
  flex-shrink: 0;
}
.Lata2 {
  width: 8.8125rem;
  height: 15.125rem;
}
.Garrafa1 {
  width: 13.625rem;
  height: 18.125rem;
}
.section-2-grid-container {
  display: grid;
  position: relative;
  justify-content: center;
  grid-template-rows: 25.375rem 25.375rem;
  grid-template-columns: 35.375rem 35.375rem;
  margin-top: 12rem;
  gap: 0;
  grid-template-areas: 
  "large carrousel"
  "large bar";
}
.section-2-grid-container img {
  width: 100%;
}
.grid-larger {
  grid-area: large;
  background-image: url('../../assets/grid/grid-larger-img.png');
  background-size: cover;
}
.grid-bar {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  grid-area: bar;
}
.grid-bar p {
  font-size: 2rem;
  font-weight: 700;
  color: var(--white);
}
.grid-opacity-cover {
  background-color: var(--black-100);
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.grid-bar img {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
}
.grid-carrousel {
  display: flex;
  flex-direction: column;
  gap: 1.56rem;
  justify-content: center;
  align-items: center;
  grid-area: carrousel;
  background-color: var(--black-100);
}
.grid-carrousel p {
  color: var(--white);
  width: 22.9375rem;
  text-align: center;
  font-size: 1.125rem;
}
.grid-svg-container {
  width: 4,875rem;
}
@media only screen and (max-width:1168px) {
  h1 {
    font-size: 3rem;
    width: 20.8125rem;
  }
  .section-1-wrapper {
    gap: 3.38rem;
  }
  .Lata1 {
    width: 18.5rem;
    height: 32.625rem;
  }
  .section-2 {
    padding: 5.5rem 1rem;
  }
  .section-2-cards-container{
    gap: 1.9rem;
  }
  .section-2-grid-container {
    grid-template-columns: 22.375rem 22.375rem;
    grid-template-rows: 22rem 22rem;
  }
  .grid-larger {
    background-position: -6rem;
  }
}
@media only screen and (max-width:680px) {
  h1 {
    font-size: 2.375rem;
    width: 20.8125rem;
  }
  .section-1-wrapper {
    flex-direction: column-reverse;
    text-align: center;
  }
  .section-1-cta-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
    margin: 0;
  }
  .section-1-cta-wrapper button {
    width: 20.4375rem;
    margin: 0;
  }
  .Lata1 {
    width: 13.25rem;
    height: 23.25rem;
  }
  .section-2-cards-container {
    flex-direction: column;
    gap: 4rem;
  }
  .section-2-title-container p {
    width: 17.5rem;
  }
  .section-2-grid-container {
    grid-template-areas: 
    "large"
    "large"
    "carrousel"
    "bar";
    grid-template-columns: 20.4375rem;
    grid-template-rows: 14rem 14rem 16rem 16rem;
  }
  .grid-carrousel p {
    width: 15.9375rem;
    font-size: 1rem;
  }
  .grid-larger {
    background-position: 0;
  }
}