.section-1-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
}
.section-2-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  p {
    line-height: 1.30rem;
    width: 28.625rem;
  }
}
.section-2-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 4.81rem;

  button {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
  }
}
.mobile-wrapper {
  text-align: center;
}
@media only screen and (max-width:1168px) {
  h1 {
    font-size: 3rem;
    width: 20.8125rem;
  }
  .section-1-wrapper {
    gap: 3.38rem;
  }
  .section-2-cards-container{
    gap: 1.9rem;
  }
}

@media only screen and (max-width:680px) {
  h1 {
    font-size: 2.375rem;
    width: 20.8125rem;
  }
  .section-1-wrapper {
    flex-direction: column-reverse;
    text-align: center;
  }
  .section-1-cta-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
    margin: 0;
  }
  .section-1-cta-wrapper button {
    width: 20.4375rem;
    margin: 0;
  }
  .section-2-cards-container {
    flex-direction: column;
    gap: 4rem;
  }
  .section-2-title-container p {
    width: 17.5rem;
  }
  .mobile-wrapper {
    transform: translateY(-100%);
  }
}